
*.lps
*.o
*.ppu
*.compiled
*.dbg

backup

src/1\.getting_started/1\.1\.hello_window/hello_window
src/1\.getting_started/1\.1\.hello_window/hello_window.exe
src/1\.getting_started/1\.2\.hello_window_clear/hello_window_clear
src/1\.getting_started/1\.2\.hello_window_clear/hello_window_clear.exe
src/1\.getting_started/2\.1\.hello_triangle/hello_triangle
src/1\.getting_started/2\.1\.hello_triangle/hello_triangle.exe
src/1\.getting_started/2\.2\.hello_triangle_indexed/hello_triangle_indexed
src/1\.getting_started/2\.2\.hello_triangle_indexed/hello_triangle_indexed.exe
src/1\.getting_started/2\.3\.hello_triangle_exercise1/hello_triangle_exercise1
src/1\.getting_started/2\.3\.hello_triangle_exercise1/hello_triangle_exercise1.exe
src/1\.getting_started/2\.4\.hello_triangle_exercise2/hello_triangle_exercise2
src/1\.getting_started/2\.4\.hello_triangle_exercise2/hello_triangle_exercise2.exe
src/1\.getting_started/2\.5\.hello_triangle_exercise3/hello_triangle_exercise3
src/1\.getting_started/2\.5\.hello_triangle_exercise3/hello_triangle_exercise3.exe
src/1\.getting_started/3\.1\.shaders_uniform/shaders_uniform
src/1\.getting_started/3\.1\.shaders_uniform/shaders_uniform.exe
src/1\.getting_started/3\.2\.shaders_interpolation/shaders_interpolation
src/1\.getting_started/3\.2\.shaders_interpolation/shaders_interpolation.exe
src/1\.getting_started/3\.3\.shaders_class/shaders_class
src/1\.getting_started/3\.3\.shaders_class/shaders_class.exe
src/1\.getting_started/3\.4\.shaders_exercise1/shaders_exercise1
src/1\.getting_started/3\.4\.shaders_exercise1/shaders_exercise.exe
src/1\.getting_started/3\.5\.shaders_exercise2/shaders_exercise2
src/1\.getting_started/3\.5\.shaders_exercise2/shaders_exercise2.exe
src/1\.getting_started/3\.6\.shaders_exercise3/shaders_exercise3
src/1\.getting_started/3\.6\.shaders_exercise3/shaders_exercise3.exe
src/1\.getting_started/4\.1\.textures/textures
src/1\.getting_started/4\.1\.textures/textures.exe
src/1\.getting_started/4\.2\.textures_combined/textures_combined
src/1\.getting_started/4\.2\.textures_combined/textures_combined.exe
src/1\.getting_started/4\.3\.textures_exercise1/textures_exercise1
src/1\.getting_started/4\.3\.textures_exercise1/textures_exercise1.exe
src/1\.getting_started/4\.4\.textures_exercise2/textures_exercise2
src/1\.getting_started/4\.4\.textures_exercise2/textures_exercise2.exe
src/1\.getting_started/4\.5\.textures_exercise3/textures_exercise3
src/1\.getting_started/4\.5\.textures_exercise3/textures_exercise3.exe
src/1\.getting_started/4\.6\.textures_exercise4/textures_exercise4
src/1\.getting_started/4\.6\.textures_exercise4/textures_exercise4.exe
src/1\.getting_started/5\.1\.transformations/transformations
src/1\.getting_started/5\.1\.transformations/transformations.exe
src/1\.getting_started/5\.2\.transformations_exercise1/transformations_exercise1
src/1\.getting_started/5\.2\.transformations_exercise1/transformations_exercise1.exe
src/1\.getting_started/5\.3\.transformations_exercise2/transformations_exercise2
src/1\.getting_started/5\.3\.transformations_exercise2/transformations_exercise2.exe
src/1\.getting_started/6\.1\.coordinate_systems/coordinate_systems
src/1\.getting_started/6\.1\.coordinate_systems/coordinate_systems.exe
src/1\.getting_started/6\.2\.coordinate_systems_depth/coordinate_systems_depth
src/1\.getting_started/6\.2\.coordinate_systems_depth/coordinate_systems_depth.exe
src/1\.getting_started/6\.3\.coordinate_systems_multiple/coordinate_systems_multiple
src/1\.getting_started/6\.3\.coordinate_systems_multiple/coordinate_systems_multiple.exe
src/1\.getting_started/6\.4\.coordinate_systems_exercise3/coordinate_systems_exercise3
src/1\.getting_started/6\.4\.coordinate_systems_exercise3/coordinate_systems_exercise3.exe
src/1\.getting_started/7\.1\.camera_circle/camera_circle
src/1\.getting_started/7\.1\.camera_circle/camera_circle.exe
src/1\.getting_started/7\.2\.camera_keyboard_dt/camera_keyboard_dt
src/1\.getting_started/7\.2\.camera_keyboard_dt/camera_keyboard_dt.exe
src/1\.getting_started/7\.3\.camera_mouse_zoom/camera_mouse_zoom
src/1\.getting_started/7\.3\.camera_mouse_zoom/camera_mouse_zoom.exe
src/1\.getting_started/7\.4\.camera_class/camera_class
src/1\.getting_started/7\.4\.camera_class/camera_class.exe
