
*.lps
*.o
*.ppu
*.compiled

backup

src/1\.getting_started/1\.1\.hello_window/hello_window
src/1\.getting_started/1\.1\.hello_window/hello_window.exe
src/1\.getting_started/1\.2\.hello_window_clear/hello_window_clear
src/1\.getting_started/1\.2\.hello_window_clear/hello_window_clear.exe
src/1\.getting_started/2\.1\.hello_triangle/hello_triangle
src/1\.getting_started/2\.1\.hello_triangle/hello_triangle.exe
src/1\.getting_started/2\.2\.hello_triangle_indexed/hello_triangle_indexed
src/1\.getting_started/2\.2\.hello_triangle_indexed/hello_triangle_indexed.exe